* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;

  background-color: black;
  color: white;

  font-family: "Arial Rounded MT", sans-serif;
  font-size: 17px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

head {
  height: 15vh;
}

.logo {
  margin: 1em;
  width: 30%;
}

.menu {
  display: none;
  /* border: 2px solid green; */
}

.hamburgerMenu {
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  width: 2.5em;
  height: 2.5em;
  padding: 0.2em;
  margin: 2em;
}

.main {
  /* margin-top: 2em; */
  height: 80vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 70%;

  align-items: center;
  /* border: 1px solid green; */
}

.text {
  /* max-height: 30%; */
  border-radius: 20px 20px 0 0;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, #00068d, #5c00d4);
  background: linear-gradient(to top right, #00068d, #d10999);
}

.signIn {
  /* max-height: 70%; */
  border-radius: 0 0 20px 20px;
  background-color: white;
}

.text,
.signIn {
  padding: 1em;

  text-align: center;
}

.text h1 {
  padding: 1em;

  font-family: "Arial Rounded MT", sans-serif;
  opacity: 0.7;
  font-size: 1em;
}

.signIn h1 {
  font-size: 1.25em;
  background: linear-gradient(to right, #00068d, #d10999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  color: #888888;
}

.googleSignIn {
  margin: 2em;
  max-width: 80%;
  border: 1px solid rgb(181, 185, 187);
  border-radius: 5px;
}

.hidden {
  display: none;
}

@media (min-width: 850px) {
  .main {
    /* border: 1px solid green; */

    margin: 0 auto;
    width: 80%;
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  .container {
    margin-top: -2em;
    display: flex;
    width: 100%;
    height: 60vh;
  }

  .logo {
    width: 15em;
  }

  .menu {
    display: block;
  }

  .nav__list {
    list-style: none;
  }

  .nav__item a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 1.47rem;
    font-weight: lighter;
  }

  .nav__item:nth-last-child(1) {
    margin-right: 4em;
  }

  .text {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    border-radius: 0;
    border-bottom: 0;

    background: linear-gradient(
      to bottom right,
      rgba(0, 6, 141, 68%),
      rgba(137, 0, 99, 56%)
    );
    border-radius: 20px 0 0 20px;
  }

  .signIn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }

  .text h1 {
    font-size: 2em;
    opacity: 1;
  }

  .signIn h1 {
    font-size: 2em;
  }

  .googleSignIn {
    width: 50%;
  }

  .hidden {
    width: 10px;
    display: block;
    height: 100%;
    background: linear-gradient(to bottom, #d10999, #00068d);
  }
}
