* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;

  background-color: black;
  color: white;

  font-family: "Arial Rounded MT", sans-serif;
  font-size: 17px;
}

section {
  margin-bottom: 20vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 1.76rem;
}

.logo {
  font-size: 1.4em;
  text-decoration: none;

  /* border: 1px solid green; */
}




.hero__content {
  height: 100vh;
}

.hero__title,
.section__content h1,
.footer h1 {
  margin: 0 auto;
  padding: 2rem;

  height: 73%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
  font-size: 1.5rem;

  /* border: 1px solid green; */
}

.hero__title h1,
.section__content h1,
.footer h1 {
  background: linear-gradient(to right, #f312cf, #00b2ff 75%, #00b2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title h6,
.hero__text > h3 span {
  color: #797979;
}

.section__content h1,
.footer h1 {
  font-size: 2.15em;
  text-align: center;
}

.yourCodeYourCommand {
  margin: 1rem;
  border-radius: 15px;
  background: radial-gradient(#cc00ff, #00b2ff);
  /* border: 1px solid red; */
}

.yourCodeYourCommand h3 {
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
}

.yourCodeYourCommand img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  /* border: 3px solid purple; */
  border-radius: 20px 20px 0 0;
  padding: 0;
}



.btn {
  padding: 0.75em 2em;

  font-size: 1.2rem;
  font-family: "Arial Rounded MT", sans-serif;
  font-weight: bolder;
  background-color: white;
  color: black;

  border-radius: 1em;
}

.btn:hover {
cursor: pointer;}

.footer .btn {
  margin: 2rem;
}

.hero__text {
  margin: 0 auto;
  padding: 2rem;

  text-align: left;

  /* border: 1px solid yellow; */
}

.img {
  margin: 0 auto;
  padding: 2rem;

  /* background: transparent; */
}

.featuresBox {
  margin: 0 auto;

  width: 90%;

  display: flex;
  flex-direction: column;
}

.features {
  padding: 0.3em;

  text-align: center;
  width: 80%;

  /* display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-shrink: 1; */

  border-radius: 25px 25px 0 0;
}

.features h5 {
  padding: 0.2rem 1rem;
}

.features:nth-child(odd) {
  align-self: flex-start;
}

.features:nth-child(even) {
  align-self: flex-end;
}

.codeFlipper {
  background: linear-gradient(to bottom, #cc00ff, #000);
}

.codroid {
  background: linear-gradient(to bottom, #3f00a7, #000);
}

.opticode {
  background: linear-gradient(to bottom, #6b6b6b, #000);
}

.sqlizer {
  background: linear-gradient(to bottom, #0075ff, #000);
}

.bugfix {
  background: linear-gradient(to bottom, #410b91, #000);
}

.askYourCode {
  margin: 0 auto;
  width: 80%;

  margin-bottom: 5em;
}

.askYourCode img {
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(255, 3, 255);
}

.footer {
  margin-bottom: 5em;
}

.footer form {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}


@media (max-width:849px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
  
    z-index: 1000;
    /* background-color: #000; */
    background: hsl(0, 0, 100%, 0.1);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 300ms ease;
  
  }
  
  .nav__toggle {
    margin: 1em;
    position: relative;
  
    border: none;
    border-radius: 10px  0 0 10px;
    background: transparent;
    z-index: 2000;
    
    /* transform: translateX(-100%); */
  }
  
  .nav__toggle:hover,.nav__link:hover {
    cursor: pointer;
  }
  
  .nav__list {
    margin-top: 15em;
    padding: 0;
    text-align: center;
    list-style: none;
  
    background: linear-gradient(to bottom, rgb(255, 0, 212), rgb(98, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .nav__link {
    margin: 1.5em;
    font-size: 1.5em;
    font-family: 'Lato Regular', sans-serif;
    text-decoration: none;
    color: rgb(255, 0, 255);
    /* background: linear-gradient(to right, rgb(255, 0, 212), rgb(98, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  
  }
  
  .nav__item + .nav__item {
    margin-top: 3em;
  }
  
  .nav-open .nav {
    transform: translateX(0);
  }
  
  .hamburger {
    display: block;
          position: relative;
          margin: 0.75em 0.25em;
  
  }
  
  .hamburger, 
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background: #fff;
  
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  .hamburger::before {
    bottom: 6px;
  
  }
  
  .hamburger::after {
    top: 6px;
  }
  
}

@media (min-width: 768px) {
  .hero__title h1 {
    margin-top: 0em;
    margin-bottom: 0;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.01em;
    background: linear-gradient(to bottom right, #f312cf 50%, #00b2ff, #00b2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .name {
    margin: 3em 5em;
  }

  .name a {
    color: white;
  }

  .logo {
    font-size: 3em;
  }

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .nav__toggle {
    display: none;
  }

  .section__content h1,
  .footer h1 {
    background: linear-gradient(to right, #f312cf 40%, #00b2ff, #00b2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero__title h6 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  .hero__title form {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .hero__content {
    height: auto;
  }

  .section__content h1,
  .footer h1 {
    font-size: 4em;
  }

  .hero__text {
    font-size: 3em;
    padding: 2rem 15rem;
    text-align: center;
  }

  .hero__text h3 {
    margin-top: 3em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-bottom: 10em;
  }

  .codilaritySpan span {
    background: linear-gradient(to bottom, #ff008a, #eb01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wmpSpan span {
    background: linear-gradient(to bottom, #ff00e5, #00c2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  section {
    /* height: 100vh; */
    margin-bottom: 10em;
  }

  .footer {
    height: 100vh;
  }

  .yourCodeYourCommand {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 1em;
    border-radius: 30px;
  }

  .yourCodeYourCommand h3 {
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 3em;
  }

  .yourCodeYourCommand img {
    width: 60%;
    margin: 5em 0 0 3em;
    display: block;

    border-radius: 30px 30px 0 0;
    /* border: 1px solid red; */
  }

  .features {
    border-radius: 40px 40px 0 0;
  }
  .features h5 {
    font-size: 1.5em;
  }

  .menu {
    display: block;
  }

  .nav__list {
    list-style: none;
  }

  .nav__item a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 1.47rem;
    font-weight: lighter;
  }

  .nav__item:nth-last-child(1) {
    margin-right: 4em;
  }
}
