* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;

  background-color: black;
  color: white;

  font-family: "Arial Rounded MT", sans-serif;
  font-size: 17px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.name {
  margin: 1.76rem;
}

.logo {
  font-size: 1.4em;
  text-decoration: none;

  /* border: 1px solid green; */
}

.menu {
  /* border: 2px solid green; */
}

.hero__content {
  height: 100vh;
}

.hero__title,
.section__content h1,
footer h1 {
  margin: 0 auto;
  padding: 2rem;

  height: 73%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
  font-size: 1.5rem;

  /* border: 1px solid green; */
}

.hero__title h1,
.section__content h1,
footer h1 {
  background: -webkit-linear-gradient(#f312cf, #0b7bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__content h1,
footer h1 {
  text-align: center;
}

.btn {
  padding: 1em 2em;

  font-size: 1.2rem;
  font-family: "Arial Rounded MT", sans-serif;
  font-weight: bolder;
  background-color: white;
  color: black;

  border-radius: 1em;
}

footer .btn {
  margin: 2rem;
}

.hero__text {
  margin: 0 auto;
  padding: 2rem;

  text-align: left;

  /* border: 1px solid yellow; */
}

.img {
  margin: 0 auto;
  padding: 2rem;

  background: transparent;
}

.featuresBox {
  margin: 0 auto;

  width: 90%;

  display: flex;
  flex-direction: column;
}

.features {
  padding: 0.3em;

  text-align: center;
  width: 80%;

  /* display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-shrink: 1; */

  border-radius: 25px 25px 0 0;
}

.features h3 {
  padding: 0.2rem 1rem;
}

.features:nth-child(odd) {
  align-self: flex-start;
}

.features:nth-child(even) {
  align-self: flex-end;
}

.codeFlipper {
  background: linear-gradient(to bottom, #cc00ff, #000);
}

.codroid {
  background: linear-gradient(to bottom, #3f00a7, #000);
}

.opticode {
  background: linear-gradient(to bottom, #6b6b6b, #000);
}

.sqlizer {
  background: linear-gradient(to bottom, #0075ff, #000);
}

.bugfix {
  background: linear-gradient(to bottom, #410b91, #000);
}

footer form {
  display: flex;
  justify-content: center;
}
